@charset "UTF-8";
/* CSS Document */

/* L337 CSS */
/* marked up by spacecadet */
/* 2012 CE */
/* 960px WIDTH */

/* peace */

/* border:1px #fff solid; */
/* Uses CSS Selectors http://rafael.adm.br/css_browser_selector/ */

/*USS ENTERPRISE RESET*/

html, body, div, 
span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, 
address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, 
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, 
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
border: 0;
outline: 0;
background: transparent;
vertical-align: baseline;
font-size: 100%;
padding: 0;
}
/*Everything above this is a style reset*/
/*element { rule:property; }*/




/*TEMPLATE FEATURES*/

@font-face {
	font-family: "Cutty";
	src: url("./fonts/cuttyCupcakes.ttf");
	font-weight:bold;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
}


body {
	/*background-color:#9AE3D2; /*TEAL #1BE0BC*/
	/*color:#FFFFFF; /*WHITE*/

	color:#000000; /*BLACK*/

	font-family: 'Quicksand', sans-serif;
}


.header {
	width:100%;
	margin:0 auto;
	margin-bottom:-10px;

	padding-top:10px;

	font-size:100px;
	font-family: "Cutty";
	text-align:center;
	color:#FFFFFF; /*WHITE*/

	text-shadow: 2px 2px #07BA90; /*DARK TEAL*/	


	background-color:#9AE3D2; /*TEAL #1BE0BC*/
}

.nav {
	width:100%;
	margin-top:-20px;
	margin-bottom:50px;
	
	margin-left:auto;
	margin-right:auto;

	padding-bottom:10px;

	background-color:#9AE3D2; /*TEAL #1BE0BC*/
}

.nav p {
	text-align:center;
	color:white;
	margin-left:-15px;
}

.nav ul	{	
	margin:auto; /*TOP RIGHT BOTTOM LEFT*/
	width:85%;
	text-align:center;
	padding-left:20px;
}

.nav ul li {
	display:inline;
	margin-right:30px;
	list-style:none;

	font-size:20px;
}

.nav ul li a:link {
	color:#07BA90;
}

.nav ul li a:hover {
	color:#ffffff;
}





.footer {
	margin:0 auto;
	padding-top:10px;

	
	bottom:0px;
	width:100%;
	height:50px;
	
	font-size:20px;
	font-family: "Cutty";
	text-align:center;


	color:#07BA90;

	background-color:#9AE3D2; /*TEAL #1BE0BC*/


}

.clear {clear:both;}


/*END TEMPLATE FEATURES*/




/*1 HOME*/


.about {
	margin:0em 10em 0em 10em; /*TOP RIGHT BOTTOM LEFT*/
	margin-top:25px;
	margin-bottom:11ex;
	padding:20px 10px 20px 15px;

	background-color:#FFFFFF;
	border:2px #07BA90 dashed;
	border-radius:15px;
	
	color:#000000;
}

.about a {
	color:#2F7366;
}

.about ul {
	list-style:none;
	padding-left:25px;
}

	
/*END ABOUT*/



/*CODE*/
.container {
	margin:0em 10em 0em 10em; /*TOP RIGHT BOTTOM LEFT*/
	margin-top:25px;
	margin-bottom:11ex;
	padding:20px 10px 20px 15px;

	background-color:#FFFFFF;
	border:2px #07BA90 dashed;
	border-radius:15px;
	
	color:#000000;
}

.container a {
	color:#2F7366;
}

.code ul {
	padding-left:25px;
}

.processing ul {
	list-style:none;
	padding-left:25px;
}



/*CODE FISH*/

.video {
	width:420px;
	margin-left:auto;
	margin-right:auto;
}









/*END HOME*/



/*2 GALLERY*/
.gallery {
	margin:0em 10em 0em 10em; /*TOP RIGHT BOTTOM LEFT*/
	padding:10px 10px 10px 15px;

	background-color:RGBA(7, 186, 144, .5);
	
	border:2px #ffffff dashed;
	border-radius: 15px;
}


.gallery a {		
	text-decoration:none;
	color:#FFFFFF;
	text-shadow: 2px 1px #07BA90;
	font-weight:bold;
	padding:0px;	
	
	display:inline-block;
	
}

.gallery1 {
	display:inline-block;
	width:100%;
}

.gallery1 img {
	border:2px #ffffff dashed;
	border-radius: 15px;

	display:inline-block;
}

.gallery1 p {
	display:inline-block;
	width:50%;
	vertical-align:top;
	padding-left:15px;
}

/*END GALLERY*/















/*4 TUTORIALS*/
.tutorial {
	margin:0em 10em 0em 10em; /*TOP RIGHT BOTTOM LEFT*/
	padding:10px 10px 10px 15px;

	background-color:RGBA(7, 186, 144, .5);
	
	border:2px #ffffff dashed;
	border-radius: 15px;
}

.tutorial a {
	color:#2F7366;
}

.tutorial ol {
	padding-left:45px;
}

.tutorial ul {
	list-style:none;
	padding-left:25px;
}

