<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="style.css"><!--Don't forget to put your stylesheet and html in the same folder!-->
		<title>Web Design</title>
	</head>

	<body>
		<nav>

				<ul><!--This is an unordered list-->
					<li><a href="index.html">HOME</a></li><!--This is a list item and a link-->
					<li><a href="contact.html">CONTACT</a></li>
				</ul>
		
		</nav><!--CLOSE NAV-->

		<header>
			<h1>Introduction to Web Design</h1>
		</header><!--CLOSE HEADER-->


		<div class="about">
			<p>Welcome to the demo page for <strong>Web Design & App Development</strong>.</p>  

			<p>In this class we will learn how to:</p>

			<ol><!--This is an ordered list-->
				<li>Create web pages using HTML</li>
				<li>Style web pages using CSS</li>
				<li>Design eye-catching logos</li>
				<li>Create 3D product mock-ups</li>
				<li>Create our very own Apps</li>
			</ol>

			<p>We will also learn how to give our text <em>emphasis</em> and <u>underline</u> important points.</p>

		</div><!--CLOSE ABOUT-->


		<footer>
			<p>Your Name Here 2014</p>
		</footer><!--CLOSE FOOTER-->

	</body>
</html>
